# Notebook for EOSC211:  Week 1, Class 1

# Introduction to strings and printing

In [1]:
print("Welcome to EOSC 211")

Welcome to EOSC 211

In [2]:
# Assign my first variables: the "#" makes this a comment line
name_first = "Catherine"   # making a string variable and assigning "Catherine" to it
name_last = "Johnson"

In [3]:
# Practice with printing
print(name_first)     # simple printing
print("My first name is", name_first)   # simple printing concatenating two strings to give more info about what I am printing
print(f"My first name is {name_first}")   # similar thing but using formatted printing, the variable name goes in the {}

Catherine
My first name is Catherine
My first name is Catherine

In [4]:
# concatenate my strings
name_full = name_first+name_last
print(name_full)

name_full = name_first+" "+name_last   # add the space between the names
print(name_full)

CatherineJohnson
Catherine Johnson

In [5]:
# Changing my last name
name_last = "Jellinek"   # assigns "Jellinek" to the variable name_last, replacing "Johnson"
print(f"My last name is {name_last}")  # formatted printing     # formatted printing

My last name is Jellinek

In [6]:
# print the variable `name_full` again
print(name_full)     # what do you think this will print to the screen and why?

Catherine Johnson

# First practice with floats and ints

In [7]:
a = 1
b = 2.
c = a/b
d = 2*a

In [8]:
# print the values and data types
print(f"Values: a = {a}, b = {b}, c = {c}, d = {d}")
print(f"Data Types: a = {type(a)}, b = {type(b)}, c = {type(c)}, d = {type(d)}")

# and from earlier
print(f"name_full has type {type(name_full)}")

Values: a = 1, b = 2.0, c = 0.5, d = 2
Data Types: a = <class 'int'>, b = <class 'float'>, c = <class 'float'>, d = <class 'int'>
name_full has type <class 'str'>

In [9]:
e = a + b
f = a - b
g = c*b

print(e,f,g)     # lazy simple printing, discuss types of each

3.0 -1.0 1.0

In [10]:
mypi = 3.141592   # defining pi

# what happens if I just try to use pi?  e.g. try `area = pi` <-- motivating NumPy

In [11]:
# More with types
ult_ans = 42
print(f"The ultimate answer to life, the universe and everything has type {type(ult_ans)}")

The ultimate answer to life, the universe and everything has type <class 'int'>

In [12]:
print(f"should it have been a float (maybe) or a string (nah)?")

ult_flt = float(ult_ans)
ult_str = str(ult_ans)

print(f"ult_flt has type {type(ult_flt)}")
print(f"ult_str has type {type(ult_str)}")

should it have been a float (maybe) or a string (nah)?
ult_flt has type <class 'float'>
ult_str has type <class 'str'>

# First practice with Boolean (True/False) variable

In [13]:
# Change my last name back again and ask whether it is Jellinek?
# What has happened here?
name_last = "Johnson"
mylastname_test = name_last == "Jellinek"   # discuss difference of "==" and "="
print("It is", mylastname_test, "that my last name is Jellinek")

It is False that my last name is Jellinek

# First playing around with lists 
## continue with this kind of "what if" exploration as you do the pre-reading for next week

In [14]:
# A list sits inside [] and has comma-separated entries
list1 = [1,2,3,4,5]   # they can all be the same type
print(list1)

list2 = [name_full,"EOAS",1]  # or different types
print(list2)

[1, 2, 3, 4, 5]
['Catherine Johnson', 'EOAS', 1]

In [15]:
# what happens if I try to add lists or multiply them by a scalar...?
print(list1+list2) 
print(2*list1)

[1, 2, 3, 4, 5, 'Catherine Johnson', 'EOAS', 1]
[1, 2, 3, 4, 5, 1, 2, 3, 4, 5]